.modal-background {
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  min-height: 370px;
  width: 300px;
  height: 420px;
  margin: 10px;
  letter-spacing: -1.2px;
  font-size: 16px;
  color: #333333;
  text-align: center;
  justify-content: center;
  border: #333333 solid 0.5px;
  z-index: 10;
}

.welcome {
  font-weight: bold;
  
}

.close-x{
  float: right;
  cursor: pointer;
  font-family:Arial, Helvetica, sans-serif;
}

.edit-form{
  
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ,
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}