.pin-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  margin: 0px;
  margin-bottom: 0px;
  height: 100%;
  width: 100%;
}

.pin-form-box {
  margin-top: 28px;
  margin-bottom: 28px;
  box-sizing: border-box;
  width: 60%;
  height: 40%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  justify-content: center;
  text-align: right;
}

/* .pin-form{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
} */
.pin-input{
  justify-content: right;
  border: none;
  border-bottom: #efefef solid 2px;
  padding: 10px;
  width: 40%;
}


.preview {
  text-align: left;
  position: fixed;
  top:26%;
  align-items: center;
  width:50%;
  
}